from googleapiclient.discovery import build
import os

API_KEY = os.environ["YOUTUBE_API_KEY"]
CHANNEL_ID = "UCOP74lX2SeJsRAJ3iCgxJlA"

youtube = build("youtube", "v3", developerKey=API_KEY)

req = youtube.search().list(
    part="snippet",
    channelId=CHANNEL_ID,
    type="video",
    order="date",
    maxResults=10
)

res = req.execute()

lines = ["#EXTM3U"]

for item in res.get("items", []):
    title = item["snippet"]["title"]
    vid = item["id"]["videoId"]
    url = f"https://www.youtube.com/watch?v={vid}"

    lines.append(f'#EXTINF:-1 group-title="TVA Abitibi",{title}')
    lines.append(url)
    lines.append("")

with open("tva.m3u","w",encoding="utf-8") as f:
    f.write("\n".join(lines))
